@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300&family=Barlow+Semi+Condensed:wght@200;300;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Barlow Condensed', sans-serif; */
    letter-spacing: 1px;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}

/* Part 01 - Header */
.header {
    background: url(./images/desktop/image-header.jpg) no-repeat center center / cover;
    height: 100vh;
    width: auto;
    color: #fff;
    margin: auto;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header .navbar h2 {
    font-size: 2rem;
}

.header .navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

ul li {
    margin: 0 20px;
}

ul li a {
    color: #fff;
    font-size: 12px;
}

ul > li:last-of-type {
    margin-right: 35px;
}

.btn-nav {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
}

.header-content {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* take all the height there is, lord vh */
    height: 100vh;
}

.header-content h1 {
    font-size: 4rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    /* with respect to root element - html, body */
    letter-spacing: 1rem;
    margin-top: 1.5em;
}

.header img {
    width: 45px;
    /* to bring the arrow to the centwe */
    position: absolute;
    top: 46%;
    left: 49%;
    opacity: 0.8;
}

/* PART - 02 : Main Brand Section */

main section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 110px;
}

.main-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    margin: 30px 0px;
    line-height: 1.1;
}

.main-text p {
    font-size: 17px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    letter-spacing: 0;
    color: #000;
    opacity: 0.45;
    line-height: 1.5;
    margin-bottom: 40px;
}

.main-text .btn-sub {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Background images with text */

.image-container {
    width: 100%;
    position: relative;
    text-align: center;
    color: #000;
}

.image-container > .text-over-image-01, .image-container > .text-over-image-02 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h5 {
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Fraunces', serif;
    margin-bottom: 30px;
}

.image-container p {
    font-size: 17px;
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
    opacity: 0.6;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.text-over-image-01 h5, p {
    color: hsl(167, 40%, 24%);
}

.text-over-image-02 h5, p {
    color: hsl(198, 62%, 26%);
}














/* color: #fad400
#fe7867 */
